.nav ul {
  list-style: none;
  background-color: #444;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav li {
  font-size: 1.2em;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.nav a:hover {
  background-color: silver;
}

a.active {
  background-color: #fff;
  color: #444;
}

a {
  transition: .35s background-color;
}

p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Droid Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.img-container {
  padding: .5vw
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
}

.img-container div {
  flex: auto;
  width: 200px;
  height: 100%;
  margin: .75vw;
  box-shadow: 7.5px 7.5px 7.5px #888888;
  border-radius: 20px;
}

.img-container div img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

img {
  display: block;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: inset;
  max-width: 50%;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: flex;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

input, textarea {
  width:75%;
  height:27px;
  background:#efefef;
  border:1px solid #dedede;
  padding:10px;
  margin-top: 3px;
  font-size:0.9em;
  color:#3a3a3a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}

textarea {
  height: 213px;
}

input:focus, textarea:focus {
  border: 1px solid #97d6eb;
}

@media (min-width: 768px) {
  .nav ul {
    display: flex;
    flex-direction: row;
  }
  p {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .header-container {
    display: flex;
    flex-flow: column wrap;
  }
  .header-container h1 {
    order: 2;
  }
  .nav {
    order: 1;
  }
  .nav ul {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 400px) {
  header div {margin: 0;}
  header {padding: 0;}
}
